mat-list-item.selected {
    background-color: black !important;
    color: white;
  }

  .example-headers-align .mat-expansion-panel-header-title,
  .example-headers-align .mat-expansion-panel-header-description {
    flex-basis: 0;
  }
  
  .example-headers-align .mat-expansion-panel-header-description {
    justify-content: space-between;
    align-items: center;
  }
  
  mat-form-field {
    margin-right: 12px;
  }

  a {
    color: inherit;
    font-family: inherit;
    text-decoration: none;
  }

  a:hover{
    font-size: 16px;
  }

#divWithMargin {
  font-family: Avenir-Book, Helvetica Neue, Helvetica, Arial;
}