<div *ngIf="isNavbarSmall === false" class="navbar">
  <button mat-button [routerLink]="['/home']">BSEC</button>

  <!--#region Welcome   -->
  <button mat-button [matMenuTriggerFor]="welcome">Welcome</button>
  <mat-menu #welcome="matMenu">
    <button mat-menu-item (click)="onWelcomeLinkClick(1)">Our Vision</button>
    <button mat-menu-item (click)="onWelcomeLinkClick(2)">Who We Are</button>
  </mat-menu>
  <!--#endregion -->

  <!--#region Whats On   -->
  <button mat-button [matMenuTriggerFor]="whatsOn">Whats On</button>
  <mat-menu #whatsOn="matMenu">

    <button mat-menu-item  [routerLink]="['/event/Calendar']">Weekly Events</button>
    <button mat-menu-item  [routerLink]="['/event/Upcoming']">Special Events</button>
    <!-- <button mat-menu-item routerLink="/whatsOn"> This Week</button> -->
    <mat-divider></mat-divider>
    <button mat-menu-item [routerLink]="['/event/Home Groups']">Home Groups</button>
    <button mat-menu-item [routerLink]="['/event/Pre School']">Todler Group</button>

    <button mat-menu-item [matMenuTriggerFor]="services" [routerLink]="['/event/Services/overview']">Services</button>
    <mat-menu #services="matMenu">
      <button mat-menu-item [routerLink]="['/event/Services/adults']">Adults</button>
      <button mat-menu-item [routerLink]="['/event/Services/kids']">Kids</button>
    </mat-menu>

    <button mat-menu-item [routerLink]="['/event/Youth Club']">Youth Clubs</button>

  </mat-menu>


  <!--#endregion -->

  <!--#region Find Us   -->
  <button mat-button [matMenuTriggerFor]="findUs">Find Us</button>
  <mat-menu #findUs="matMenu">
    <button mat-menu-item [routerLink]="['/ourLocation']">Our Location</button>
    <button mat-menu-item [routerLink]="['/contactUs']">Contact Us</button>
  </mat-menu>
  <!--#endregion -->

  <!--#region Resources   -->
  <!-- <button mat-button [matMenuTriggerFor]="resources">Resources</button>
  <mat-menu #resources="matMenu">
    <button mat-menu-item>Subscribe</button>
    <button mat-menu-item>Audio Archive</button>
  </mat-menu> -->
  <!--#endregion -->
</div>


<!--#region Hamburger Navigation Bar  -->

<div *ngIf="isNavbarSmall === true" class="navbar">
  <button mat-button><a routerLink="/home">BSEC</a></button>

  <button mat-button [matMenuTriggerFor]="all">
    <mat-icon>menu</mat-icon>
  </button>
  <mat-menu #all="matMenu">
  <button mat-menu-item (click)="onWelcomeLinkClick(1)">Our Vision</button>
  <button mat-menu-item (click)="onWelcomeLinkClick(2)">Who We Are</button>
  <mat-divider></mat-divider>
  <button mat-menu-item [routerLink]="['/event/Calendar']">Weekly Events</button>
  <button mat-menu-item [routerLink]="['/event/Upcoming']">Special Events</button>
  <mat-divider></mat-divider>
  <button mat-menu-item [routerLink]="['/event/Home Groups']">Home Groups</button>
  <button mat-menu-item [routerLink]="['/event/Pre School']">Todler Group</button>
  <button mat-menu-item [routerLink]="['/event/Services/overview']">Services</button>
  <button mat-menu-item [routerLink]="['/event/Services/adults']">Adults</button>
  <button mat-menu-item [routerLink]="['/event/Services/kids']">Kids</button>
  <button mat-menu-item [routerLink]="['/event/Youth Club']">Youth Clubs</button>
  <mat-divider></mat-divider>
  <button mat-menu-item [routerLink]="['/ourLocation']">Our Location</button>
  <button mat-menu-item [routerLink]="['/contactUs']">Contact Us</button>
  </mat-menu>

  <!--#endregion -->
</div>