<div class="divWithMargin">
  <h1>
    Our Location
  </h1>

<mat-card class="example-card">
    <img mat-card-image src="assets/img/bsecFront.jpg" fxLayoutAlign="center">
    <mat-card-content>
        <ul>
            <li> Bradley Stoke Evangelical Church</li>
            <li> Baileys Court Road </li>
            <li> Bradley Stoke</li>
            <li> BS32 8BH </li>
          </ul>
    </mat-card-content>


</mat-card>

<br>



  <div class="container">
    <iframe
      src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d39716.647932392334!2d-2.5471075254394515!3d51.52623150755493!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4871905ec1ccea7f%3A0x533b5aed8db2e752!2sBradley+Stoke+Evangelical+Church!5e0!3m2!1sen!2suk!4v1557158792197!5m2!1sen!2suk"
      frameborder="0" allowfullscreen class="video"></iframe>
  </div>
</div>