table {
    width: 100%;
  }
  
  .mat-form-field {
    font-size: 14px;
    width: 100%;
  }

  a {
    color: inherit;
    font-family: inherit;
    text-decoration: none;
  }

  a:hover{
    font-size: 16px;
  }

  @media only screen and (min-width: 600px){
    #servicesDiv {
      padding: 0px 25% 0px 25%;
    }
  }
  
  @media only screen and (max-width: 599px){
    #servicesDiv {
      padding: 0px 0px 0px 0px;
    }

    .example-card {
      max-width: 400px;
      
    }
    mat-card-image{
      max-height: 200px;
    }
  }