<div class="divWithMargin">
  <h1>
    BUSY BEES
  </h1>

  <h3>
    Busy Bees is our toddler group for under 5s who live in Bradley Stoke, Little Stoke and Stoke Gifford
  </h3>

<p>
  Parents and carers bring their children on Tuesdays from 10 till 11.30 during school term time.
  If you are new and would like to come, please use this form to ensure there are places available.
</p>
   
          <img src='assets/img/busy-bees-logo-400x400.jpg' alt="">
    

    
          <mat-list>
              <h3 mat-subheader>TUESDAYS 10.00 - 11.30</h3>
              <mat-list-item>
                <mat-icon mat-list-icon>group</mat-icon>
                <p>Start with crafts, painting and lots of toys to share!</p>
              </mat-list-item>
              <mat-list-item>
                <mat-icon mat-list-icon>group</mat-icon>
                <p>Enjoy drinks and a biscuit, and time to meet others and make new friends.</p>
              </mat-list-item>
              <mat-list-item>
                <mat-icon mat-list-icon>group</mat-icon>
                <p>There will be a story from the Bible and a song time.</p>
              </mat-list-item>
            </mat-list>
    

</div>