<div class="divWithMargin">
  <h1>
    Service Audio
  </h1>

  <h3 *ngIf="!data.storage">Audio unavailable.</h3>

  <div *ngIf="data.storage">

    <h3>{{data.storage.title}}</h3>  

    <p><mat-icon>person</mat-icon> {{data.storage.who}}</p>

    <p><mat-icon>edit</mat-icon> {{data.storage.book}}</p>

    <p><mat-icon>calendar_today</mat-icon>{{data.storage.date | date:'MM/dd/yyyy'}}</p>

    <audio audio id="mp3" controls>
      <source id="src" type="audio/mpeg">
    </audio>

  </div>
<!-- 
  <object  data="../../assets/audio/one.mp3" >
    <param name="src" value="../../Audio/one.mp3"/>
    </object> -->

</div>