<div class="divWithMargin">
  <h1>
    Service Audio
  </h1>

  <h3 *ngIf="audioIdExisits == false">Audio unavailable.</h3>
  

  <div *ngIf="editMode && audioIdExisits === false" class="form-group">
    <label for="file">Upload audio</label>
    <input type="file" id="file" (change)="handleFileInput($event.target.files)">
  </div>


  <div *ngIf="audioIdExisits == true">

    <h3>{{service.title}}</h3>

    <p>
      <mat-icon>person</mat-icon> {{service.who}}
    </p>

    <p>
      <mat-icon>edit</mat-icon> {{service.book}}
    </p>

    <p>
      <mat-icon>calendar_today</mat-icon>{{service.date | date:'MM/dd/yyyy'}}
    </p>

    <audio id="src" controls></audio>
  </div>

</div>