<div class="divWithMargin">

<h1>
  Home Groups
</h1>

<p>
  Growth groups are at the heart of our community life together.
  We meet each week in smaller groups to study God’s word the Bible, talk about life and pray together.
</p>

<mat-divider></mat-divider>

<mat-list>
  <h3 mat-subheader>TUESDAYS</h3>
  <mat-list-item>
    <mat-icon mat-list-icon>group</mat-icon>
    <h4 mat-line>Paul & Margo Shaddick</h4>
    <p mat-line> 8PM</p>
  </mat-list-item>

  <mat-list-item>
    <mat-icon mat-list-icon>group</mat-icon>
    <h4 mat-line>Tim & Amy Sunderland</h4>
    <p mat-line> 8PM</p>
  </mat-list-item>

  <mat-list-item>
    <mat-icon mat-list-icon>group</mat-icon>
    <h4 mat-line>Peter & Winsome Muir</h4>
    <p mat-line> 8PM</p>
  </mat-list-item>

  <mat-list-item>
    <mat-icon mat-list-icon>group</mat-icon>
    <h4 mat-line>Erick & Chibesa Swere</h4>
    <p mat-line> 8PM</p>
  </mat-list-item>

  <mat-list-item>
    <mat-icon mat-list-icon>group</mat-icon>
    <h4 mat-line>Dave & Jenny Pickard</h4>
    <p mat-line> 8PM</p>
  </mat-list-item>

  <mat-divider></mat-divider>
  
    <h3 mat-subheader>WEDNESDAYS</h3>
    <mat-list-item>
      <mat-icon mat-list-icon>group</mat-icon>
      <h4 mat-line>Peter Shelley</h4>
      <p mat-line> 7.30PM</p>
    </mat-list-item>

</mat-list>

</div>