table {
    width: 100%;
  }
  
  .mat-form-field {
    font-size: 14px;
    width: 100%;
  }

  @media only screen and (min-width: 600px){
    #calendarDiv {
      padding: 0px 25% 0px 25%;
    }
  }
  
  @media only screen and (max-width: 599px){
    #calendarDiv {
      padding: 0px 0px 0px 0px;
    }
  }